.slider-value-display {
  position: absolute;
  top: 20%; /* Adjust this value as needed */
  left: calc(
    50% - 2in
  ); /* Adjust this value to position it two inches to the left */
  transform: translateY(-50%);
  font-size: 16px; /* Adjust font size as needed */
  color: #1890ff; /* Adjust color as needed */
}

/* Add this to your style.css or a separate CSS file */
.percentage-value {
  position: absolute;
  bottom: -20px; /* Adjust this value to control the vertical distance from the slider */
  font-size: 12px; /* Adjust font size as needed */
  color: ##1890ff; /* Adjust color as needed */
  transform: translateX(-50%);
}

.slider-with-unit {
  position: relative;
}

.slider-unit {
  position: absolute;
  font-size: 15px;
  color: #000; /* Adjust color as needed */
  top: -0.9in; /* Adjust this value to move the unit 2 inches higher */
  left: 73%;
  transform: translateX(-50%);
}

.percentage-value.left {
  left: 0;
}

.percentage-value.middle {
  left: 50%;
}

.percentage-value.right {
  right: 0;
}

.billing-management {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.billing-management .div-2 {
  background-color: #ffffff;
  border: 1px none;
  height: 982px;
  overflow: hidden;
  position: relative;
  width: 1512px;
}

.billing-management .sidebar {
  border: 0.25px solid;
  border-color: #00000080;
  height: 982px;
  left: 0;
  position: absolute;
  top: 0;
  width: 242px;
}

.billing-management .group {
  height: 21px;
  left: 46px;
  position: absolute;
  top: 40px;
  width: 149px;
}

.billing-management .legal-terms-of {
  color: transparent;
  font-family: "Karla", Helvetica;
  font-size: 10px;
  font-weight: 400;
  left: 34px;
  letter-spacing: 0.1px;
  line-height: 20px;
  position: absolute;
  top: 818px;
  width: 165px;
}

.billing-management .span {
  color: #7c8db5b8;
}

.billing-management .text-wrapper-3 {
  color: #004cffb8;
}

.billing-management .text-wrapper-4 {
  color: #a1adca;
}

.billing-management .frame-2 {
  height: 982px;
  left: 248px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 1264px;
}

.billing-management .dropdown-variant {
  left: 1165px !important;
  position: absolute !important;
  top: 51px !important;
}

.billing-management .frame-3 {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 14px;
  left: 353px;
  position: absolute;
  top: 139px;
}

.billing-management .frame-4 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 6px;
  position: relative;
}

.billing-management .text-wrapper-5 {
  color: #000000;
  font-family: "Manrope", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 22px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.billing-management .frame-5 {
  align-items: flex-start;
  left: 2in;
  display: flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
  width: 190px;
}

.billing-management .element {
  border-radius: 5px !important;
  display: flex !important;
  margin-right: -10.54px !important;
  overflow: unset !important;
  transform: rotate(0.36deg) !important;
  width: 200.44px !important;
}

.billing-management .components-radio-button-outlined {
  font-family: "Manrope", Helvetica !important;
  font-size: 14px !important;
  font-style: unset !important;
  font-weight: 400 !important;
  letter-spacing: 0 !important;
  line-height: 22px !important;
}

.billing-management .dropdown-trigger-instance {
  flex: 0 0 auto !important;
  margin-right: -50.64px !important;
}

.billing-management .title-5 {
  color: #1890ff;
  font-family: var(--body-regular-font-family);
  font-size: var(--body-regular-font-size);
  font-style: var(--body-regular-font-style);
  font-weight: var(--body-regular-font-weight);
  left: 16px;
  letter-spacing: var(--body-regular-letter-spacing);
  line-height: var(--body-regular-line-height);
  position: absolute;
  top: 4px;
  width: 124px;
}

.billing-management .frame-6 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 11px;
  position: relative;
}

.billing-management .frame-7 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  position: relative;
}

.billing-management .frame-8 {
  align-items: flex-end;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 189px 6px;
  padding: 0px 0px 0px 16px;
  position: relative;
  width: 540px;
}

.billing-management .slider-default-instance {
  width: 476px !important;
}

.billing-management .design-component-instance-node {
  flex: 0 0 auto !important;
  gap: 115px !important;
}

.billing-management .text-wrapper-6 {
  color: #000000;
  font-family: "Manrope", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 22px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.billing-management .by-using-AFILENAME {
  color: #000000;
  font-family: "Manrope", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 22px;
  position: relative;
  text-align: center;
  width: 540px;
}

.billing-management .text-wrapper-7 {
  color: #000000;
  font-family: "Manrope", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 22px;
}

.billing-management .text-wrapper-8 {
  font-weight: 600;
}

.billing-management .button {
  background-color: var(--primary-6);
  border: 1px solid;
  border-color: var(--primary-6);
  border-radius: 5px;
  box-shadow: var(--drop-shadow-button-primary);
  height: 30px;
  position: relative;
  width: 152px;
}

.billing-management .text-wrapper-9 {
  color: var(--character-primaryinverse);
  font-family: "Karla", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 39px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  text-align: center;
  top: 3px;
  white-space: nowrap;
  width: 73px;
}

.billing-management .frame-9 {
  align-items: flex-end;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.billing-management .frame-10 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 4px;
  position: relative;
}

.billing-management .text-wrapper-10 {
  color: #000000;
  font-family: "Manrope", Helvetica;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 22px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.billing-management .overlap-wrapper {
  height: 438px;
  position: relative;
  width: 557px;
}

.billing-management .overlap {
  height: 439px;
  position: relative;
  top: -1px;
  width: 559px;
}

.billing-management .overlap-group {
  height: 428px;
  left: 0;
  position: absolute;
  top: 11px;
  width: 559px;
}

.billing-management .group-2 {
  height: 409px;
  left: 0;
  position: absolute;
  top: 19px;
  width: 559px;
}

.billing-management .shape-with-text {
  height: 356px;
  left: 521px;
  position: absolute;
  top: 93px;
  width: 87px;
}

.billing-management .img {
  height: 117px;
  left: 190px;
  position: absolute;
  top: 327px;
  width: 106px;
}

.billing-management .shape-with-text-2 {
  height: 236px;
  left: 311px;
  position: absolute;
  top: 211px;
  width: 88px;
}

.billing-management .shape-with-text-3 {
  height: 365px;
  left: 415px;
  position: absolute;
  top: 84px;
  width: 87px;
}

.billing-management .shape-with-text-4 {
  height: 44px;
  left: 65px;
  position: absolute;
  top: 404px;
  width: 104px;
}

.billing-management .google {
  height: 30px;
  left: 415px;
  position: absolute;
  top: 463px;
  width: 87px;
}

.billing-management .AFILENAME {
  height: 30px;
  left: 55px;
  position: absolute;
  top: 463px;
  width: 123px;
}

.billing-management .azure {
  height: 30px;
  left: 311px;
  position: absolute;
  top: 463px;
  width: 88px;
}

.billing-management .backblaze {
  height: 30px;
  left: 186px;
  position: absolute;
  top: 463px;
  width: 114px;
}

.billing-management .AWS {
  height: 30px;
  left: 521px;
  position: absolute;
  top: 463px;
  width: 87px;
}

.billing-management .connector-line {
  height: 1px;
  left: 155px;
  position: absolute;
  top: 455px;
  width: 556px;
}

.billing-management .text-wrapper-11 {
  color: #000000;
  font-family: "Manrope", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 85px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 350px;
  white-space: nowrap;
}

.billing-management .text-wrapper-12 {
  color: #000000;
  font-family: "Manrope", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 210px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 280px;
  white-space: nowrap;
}

.billing-management .text-wrapper-13 {
  color: #000000;
  font-family: "Manrope", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 320px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 160px;
  white-space: nowrap;
}

.billing-management .text-wrapper-14 {
  color: #000000;
  font-family: "Manrope", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 420px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 50px;
  white-space: nowrap;
}

.billing-management .text-wrapper-15 {
  color: #000000;
  font-family: "Manrope", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 530px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 70px;
  white-space: nowrap;
}

.billing-management .frame-11 {
  align-items: center;
  display: inline-flex;
  gap: 13px;
  left: 20px;
  position: absolute;
  top: 58px;
}

.billing-management .mingcute-back-line {
  height: 32px;
  position: relative;
  width: 32px;
}

.billing-management .text-wrapper-16 {
  color: var(--grey-05);
  font-family: "Manrope", Helvetica;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 16px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}
